/* ? Tipografía: 'Lato' */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); */

/* rem = Para Textos */
/* px = Para botones, por ej. */

/* General */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  */
    /* ? Border-box: Hace que el padding y el border pasen a 
    ? formar parte del cálculo del ancho de la caja 
    ? y no lo suman posteriormente. */
/* } */

/* 
html {
    font-size: 62.5%; 1rem == 10px */
    /* font-family: 'Lato', Helvetica, sans-serif;
} */

/* body {
    background-color: #323b43;
    color: #fff;
    width: 100%;
    font-size: 62.5%; /* 1rem == 10px */
    /* font-family: 'Lato', Helvetica, sans-serif;
    line-height: 1.2;
} */


/* ? Barra de Scroll
::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(172, 57, 77);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(350, 75%, 60%);
    border-radius: 5rem;
}

? Cuando selecciona con el mouse */
/* ::selection {
    background-color: #f5566e;
    color: #fff;
} */

/* .centrar {
    text-align: center;
}

.enlaces {
    text-decoration: none; 
    color: #ffffff;
}

main a:hover {
    color: #f54b64;
}

main .enlaces {
    position: relative;
}

main .enlaces::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .2rem;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 220ms ease-in;
}

main .enlaces:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.parrafos {
    font-size: 3rem;
    letter-spacing: .1rem;
    display: inline-block;
}

.titulos {
    font-size: 5rem;
    font-weight: 900;
}

.listas {
    list-style: none;
    font-size: 2rem;
    font-weight: 700;
} */

/* * Encabezado */
/* .header {
    background: linear-gradient(45deg, #f54b64, #f78361);
    padding: 1.1rem;
    width: 100%;
    height: 9rem;
    position: sticky;
    z-index: 100;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.3);
    transition: 0s;
} */

/* .flex-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} */

/* .header__nav .header__nav__list{
    width: 50rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transition: 0;
} */

/* .header__nav__list li a {
    color: rgba(255, 255, 255, .6);
    font-weight: 900;
    letter-spacing: 1.4px;
    text-decoration: none;
    transition: all 0.3s;
} */

/* .header__nav__list li .enlaces:hover {
    color: rgba(255, 255, 255, 1);
} */

/* .header .header__button {
    background-color: hsl(143, 85%, 55%);
    box-shadow: inset 0 0 0 0 #0f8b81;
    width: 15rem;
    text-transform: uppercase;
    padding: 3rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: all 0.4s;
} */

/* .header .header__button:hover {
    box-shadow: inset 16rem 0 0 0 #0f8b81;
} */


/* * Logo - Encabezado */
/* .header__logo {
    font-size: 5rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    height: auto;
    margin: 0;
} */

/* .my-titulo {
    font-weight: 400;
    color: hsl(0, 0%, 70%);
} */

/* .games-titulo {
    font-weight: 900;
} */

/* header .flex-titulo:hover {
    color: white;
} */



/* * Pie de Página */
/* .footer {
    background-color: hsl(205, 15%, 33%);
    padding: 2rem;
} */

/* .flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .flex-footer .footer__list {
    margin-left: 5rem;
} */

/* .footer .footer__list {
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .iconos-redes {
    width: 4rem;
    margin: 1rem .5rem;
} */

/* .footer .footer__p {
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    margin-right: 5rem;
} */



/****************/


/* ! Sección - Index */
/* ? Grid - Index - Layout*/
/* .grid-index {
    display: grid;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}

.grid-index header {
    grid-area: header;
} 

.grid-index main {
    grid-area: main;
}

.grid-index footer {
    grid-area: footer;
} */

/************/

/* .flex-padre {
    display: flex;
    margin-top: 5rem;
    justify-content: space-evenly;
    align-items: center;
} */

/* main .main__sections__2 {
    background-color: hsl(210, 15%, 20%);
    margin-top: 1.5rem;
} */

/* .main__sections__2 .main__sections__2__h2  */


/* .flex-left {
    width: 45rem;
    display: flex;
    flex-direction: column;
} */

/* .flex-left h1 {
    font-size: 6rem;
    margin-bottom: 2.5rem;
} */

/* .flex-padre div {
    margin: 2rem 0;
} */

/* .flex-parrafo {
    text-align: start;
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.3),
                0px 18px 23px rgba(0, 0, 0, 0.1);
} */

/* .flex-right .imagen-space {
    width: 100%;
    height: auto;
} */

/* .titulo-index {
    text-align: start;
    line-height: 1.2;
    text-shadow: -3px 3px 0 #f54b64, -7px 8px 0 rgba(0, 0, 0, 0.4);
} */

/* .contenedor-testimonios .div__h2  {
    letter-spacing: .2rem;
    text-shadow: 0 0 6px #000;
    margin: 6rem;
    padding: 4.2rem;
} */




/* ! 2da Parte del Index */
/* #contenido-index .section-3 h2, 
#contenido-index .section-4 h2,
#contenido-index .section-5 h2{
    font-size: 3.5rem;
} */

/* h2 .mygames-titulo, .proyecto-p .mygames-titulo {
    text-decoration: .3rem wavy underline #f54b64;
} */


/* ! Grid - Index */
/* #contenido-index .grid-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem 0px;
} */

/* .grid-main section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.6rem;
} */

/* .grid-main section img {
    width: 8rem;
    align-self: center;
}

.grid-main p {
    font-size: 2rem;
    margin: 1rem;
} */



/* ? Galeria de Imagenes - Index */
/* .galeria-index {
    width: 90%;
    margin-bottom: 5rem;
}

.galeria-index .div-galeria {
    border-radius: .6rem 7rem .6rem 7rem;
    align-self: center;
} */

/* ? Testimonios - Index */
/* .contenedor-t {
    margin: 3rem;
} */



/* ! Sección - Proyecto */
/* .contenedor-proyecto {
    margin: 5rem;
    padding: 5rem;
    background-color: #53575f;
    border-radius: 2rem;
    border: 5px solid #ee4962;
    box-shadow: 0 0 3rem 1.5rem #f54b64;
}

.contenedor-proyecto .flex-proyecto {
    display: flex;
    flex-flow: row wrap;
}

.flex-proyecto .img-proyecto {
    border-radius: 1rem;
    max-width: 90%;
}

.contenedor-proyecto .contenedor-titulo {
    letter-spacing: .3rem;
    margin-bottom: 5rem;
    text-shadow: 0 0 10px #000;
} */

/* .proyecto-p .parrafos {
    margin-bottom: 3rem;
    text-align: left;
} */




/* ! Sección - Nosotros */
/* .contenedor-nosotros {
    margin: 7rem;
    padding: 7rem;
    background-color: #53575f;
    border-radius: 2rem;
    border: 5px solid #ee4962;
    box-shadow: 0 0 3rem 1.5rem #f54b64;
} */

/* .nosotros-titulo {
    margin-bottom: 3rem;
    text-shadow: 0 0 10px #000;
} */

/* .a-nosotros {
    color: #ee4962;
} */

/* .nosotros-p .parrafos {
    margin-bottom: 3rem;
    line-height: 1.5;
} */

/* .img-nosotros {
    border-radius: 2rem;
    border: 5px solid #ccc;
    width: 100%;
} */

/* .nosotros-p .fancy-underline {
    font-weight: 900;
    background-image: linear-gradient(90deg,#f54b64, #f78361);
    background-size: 0% 4px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1s ease;
} */

/* .nosotros-p .fancy-underline:hover {
    background-size: 100% 4px;
} */


/* ! Sección - Productos */
/* .contenedor-producto {
    margin: 7rem;
    padding: 7rem;
    background-color: #53575f;
    border-radius: 2rem;
    border: 5px solid #ee4962;
    box-shadow: 0 0 3rem 1.5rem #f54b64;
}

.flex-productos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-productos img {
    cursor: pointer;
    margin: 2.5rem;
    max-width: 25rem;
    border-radius: 1rem;
    box-shadow: none;
    transition: all 0.3s;
}

.flex-productos img:hover {
    box-shadow: 0px 15px 10px -5px rgba(0,0,0,0.75);
    transform: scale(1.1);
} */

/* .titulo-prod {
    margin-bottom: 3rem;
    text-shadow: 0 0 10px #000;
} */



/* ! Sección - Contacto */
/* form {
    margin: 10rem;
    padding: 5rem;
    border-radius: 5rem;
    background: #323b43;
    box-shadow: 15px 15px 30px #2d353c, -15px -15px 30px #38414a;
} */

/* form .title-contact {
    font-size: 6rem;
    letter-spacing: 1px;
    text-shadow:-4px 4px 0 #0f8b81, 
                -8px 9px 0 rgba(0, 0, 0, 0.4)
} */

/* form .form-container div {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    margin: 1.5rem 0;
} */

/* form div label {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
} */

/* form div select {
    padding: 1rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    border-radius: 1.2rem;
    width: 20rem;
    outline: none;
} */

/* form div select option {
    font-weight: 700;
    border-radius: 1.2rem;
} */

/* form input {
    font-size: 1.7rem;
    padding: 1.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 1.2rem;
    box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.3);
} */

/* form .div-1 div {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
} */

/* form .div-1 div .op-1 {
    display: inline-block;
} */

/* form .div-1 div .op-2 {
    display: inline-block;
} */

/* form .div-1 input[type=radio] {
    box-shadow: none;
    width: 2rem;
    height: 2rem;
} */

/* form .form-container .div-4 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
} */

/* form input[type=checkbox] {
    margin-left: .4rem;
    width: 2.4em;
    height: 2.4rem;
    box-shadow: none;
} */

/* form .div-5 textarea {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1.7rem;
    padding: 1.6rem;
    margin: 1rem 0;
    border: none;
    border-radius: 1.2rem;
    box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.2);
    resize: none;
    width: 40%;
    transition: .5s;
} */

/* form .div-5 textarea:focus {
    width: 95%;
    outline: none;
} */

/* form .div-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* form .div-6 input {
    padding: 1.5rem 10rem;
    box-shadow: none;
    border-radius: 4rem;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .4s;
    cursor: pointer;
} */

/* form .div-6 .send {
    box-shadow: inset 0 0 0 0 #0f8b81;
    background-color: hsl(143, 85%, 55%);
    transition: ease-out 0.6s;
} */

/* form .div-6 .send:hover {
    box-shadow: inset 0 10rem 0 0 #0f8b81;
} */

/* form .div-6 .reset {
    box-shadow: inset 0 0 0 0 rgb(255, 0, 69);
    background-color: hsl(55, 95%, 50%);
    transition: ease-out 0.6s;
} */

/* form .div-6 .reset:hover {
    box-shadow: inset 0 -10rem 0 0 rgb(255, 0, 69);
} */

/* ? MEDIA QUERIES */
/* @media all and (min-width: 320px) and (max-width: 550px) { ! Telefono */
    /* html { */
        /* font-size: 35%; 1rem == 10px */
        /* font-family: 'Lato', Helvetica, sans-serif;
    } */

    /* .grid-index {
        display: grid;
        grid-template-areas: "header"
                            "main "
                            "footer";
    }

    .grid-index header {
        grid-area: header;
    } 

    .grid-index main {
        grid-area: main;
    }

    .grid-index footer {
        grid-area: footer;
    } */

    /* Header */
    /* .header {
        width: 100%;
        height: auto;
    }

    .header .header__logo {
        font-size: 3rem;
    }

    .flex-header {
        flex-direction: column;
    }

    .flex-header .header__nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav__list li {
        margin: 2rem 0;
        font-size: 2rem;
    }

    .header .header__button {
        padding: 2rem;
        font-size: 1.5rem;
    } */

    /* Main */
    /* .main__sections .main__sections__flex {
        flex-direction: column-reverse;
    }

    .main__sections__flex .main__sections__flex__left h1,
    .main__sections__flex .main__sections__flex__left p {
        text-align: center;
        line-height: 1.6;
    }

    .main__sections__flex .main__sections__flex__right img {
        width: 40rem;
    }

    #contenido-index .grid-main {
        grid-template-columns: none;
        grid-template-areas:"card-1"
                            "card-2"
                            "card-3";
    }

    #contenido-index .grid-main section p {
        font-size: 2.7rem;
    }

    .section-3 {
        grid-area: card-1;
    }

    .section-4 {
        grid-area: card-2;
    }

    .section-5 {
        grid-area: card-3;
    } */

    /* ? CAROUSEL */
    /* .carousel-none {
        display: none;
    } */

    /* ! Sección Proyecto */
    /* .contenedor-proyecto .titulo-prod {
        font-size: 3rem;
        text-align: center;
    }

    .contenedor-proyecto .parrafos {
        font-size: 2rem;
    }

    .img-proyecto {
        width: 95%;
    } */

    /* Footer */
    /* .flex-footer {
        flex-direction: column;
        justify-content: center;
    }

    .flex-footer .footer__list {
        margin: 0;
    }

    .flex-footer .footer__p {
        text-align: center;
        margin: 0;
    }
} */

/* @media all and (min-width : 551px) and (max-width : 767px) { ! Telefono */
    /* .grid-index {
        display: grid;
        grid-template-areas: "header"
                            "main "
                            "footer";
    }
    
    .grid-index header {
        grid-area: header;
    } 
    
    .grid-index main {
        grid-area: main;
    }
    
    .grid-index footer {
        grid-area: footer;
    } */
    /* Header */
    /* .header {
        width: 100%;
        height: auto;
    }

    .header .logo {
        font-size: 3rem;
    }

    .flex-header {
        flex-direction: column;
    }

    .flex-header .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links li {
        margin: 2rem 0;
        font-size: 2rem;
    }

    .header button {
        padding: 2rem;
        font-size: 1.5rem; */
    /* } */

    /* Main */
    /* main .main__sections__flex {
        flex-direction: column-reverse;
    }

    .main__sections__flex .flex-left h1,
    .main__sections__flex .flex-left p {
        text-align: center;
        line-height: 1.6;
    }

    .main__sections__flex .flex-right img {
        width: 40rem;
    }

    #contenido-index .grid-main {
        grid-template-columns: none;
        grid-template-areas:"card-1"
                            "card-2"
                            "card-3";
    }

    #contenido-index .grid-main section p {
        font-size: 2.7rem;
    }

    .section-3 {
        grid-area: card-1;
    }

    .section-4 {
        grid-area: card-2;
    }

    .section-5 {
        grid-area: card-3;
    } */

    /* ! Sección Proyecto */
    /* .contenedor-proyecto .titulo-prod {
        font-size: 3rem;
        text-align: center;
    }

    .contenedor-proyecto .parrafos {
        font-size: 2.4rem;
    }

    .img-proyecto {
        max-width: 95%;
    } */

    /* Footer */
    /* .flex-footer {
        flex-direction: column;
        justify-content: center;
    }

    .flex-footer ul {
        margin: 0;
    }

    .flex-footer .derechos-r {
        text-align: center;
        margin: 0;
    }
} */

/* @media screen and (min-width: 768px) { ! Tablet */
    /* html {
        font-size: 57%;
    } */

    /* Header */
    /* .header {
        height: 40vh;
    }

    .flex-header {
        flex-direction: column;
    }

    .flex-header .nav-links {
        flex-direction: row;
    }

    .navegacion .nav-links .listas {
        font-size: 2rem;
    }

    .header .logo {
        font-size: 4.2rem;
    }

    .header button {
        padding: 2rem;
        font-size: 1.5rem;
    } */

    /* ! Seccion Proyecto */
    /* .contenedor-proyecto .titulo-prod {
        font-size: 3rem;
        text-align: center;
    }

    .contenedor-proyecto .parrafos {
        font-size: 2.7rem;
    }

    .img-proyecto {
        max-width: 95%;
    } */

    /* Footer */
    /* .flex-footer {
        flex-direction: row;
        justify-content: space-around;
    }
} */

/* @media screen and (min-width: 1024px) { ! Desktop */
    /* html {
        font-size: 60.5%;
        overflow-x: hidden;
        max-width: 100%;
    }

    body {
        margin-right: 0;
        font-size: 60.5%;
        max-width: 100%;
    } */

    /* Header */
    /* .header {
        max-width: 100%;
        height: auto;
    }

    .header .header__logo {
        font-size: 5rem;
    }

    .flex-header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .header .header__button {
        padding: .9rem 2.5rem;
        font-size: 1.5rem;
    } */


    /* Main */
    /* main .main__sections__flex {
        flex-direction: row;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .main__sections__flex .flex-left h1,
    .main__sections__flex .flex-left p {
        text-align: start;
        line-height: 1.2;
    }

    .main__sections__flex .flex-right img {
        width: 100%;
    }

    #contenido-index .grid-main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "card-1 card-2 card-3";
    }

    #contenido-index .grid-main section p {
        font-size: 2rem;
    } */

    /* ! Sección Proyecto */
    /* .contenedor-proyecto .titulo-prod {
        font-size: 5rem;
        text-align: left;
    }

    .contenedor-proyecto .parrafos {
        font-size: 3rem;
    }

    .img-proyecto {
        max-width: 100%;
    } */

    /* Footer */
    /* .flex-footer {
        height: auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .flex-footer .footer__list {
        margin-left: 5rem;
        width: 25rem;
        justify-content: space-between;
    }
    
    .flex-footer .footer__p  {
        text-align: right;
        margin-right: 5rem;
    }
} */